.catalog-card {
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog-card_more {
  position: relative;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    padding-bottom: 0;
    background: none;
    min-height: 429px;
    margin-top: 85px;
  }
}
