.custom-check {
  position: relative;
  display: block;
  padding-left: 45px;
  height: 30px;

  @media (min-width: $tablet-width) {
    height: 40px;
    padding-left: 60px;
  }
}

.custom-check:active {
  opacity: 0.3;
}

.custom-check__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.custom-check__label {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    height: 40px;
  }
}

.custom-check__input:checked + .custom-check__mark::after {
  position: absolute;
  content: " ";
  top: 1px;
  left: 1px;
  height: 26px;
  width: 26px;
  background-image: url("../img/sprite.svg#tick");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    background-size: 30px 30px;
    top: 0;
    left: 0;
  }
}
