.filter__checkbox {
  margin: 0;
  border: none;
  padding: 0 0 40px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 60px;
  }
}

.filter__checkbox-div {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 110px;
  }
}

.checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 284px);
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.checkbox-list__item {
  height: 30px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    height: 30px;
  }
}
