.filter__message {
  margin: 0 0 24px 0;
  padding: 0;
  position: relative;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.filter__comment {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.user-message {
  margin: 0;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 280px;
  height: 150px;
  padding: 14px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.legend-line::after {
  content: "";
  width: 159px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 15px;
  right: -20px;

  @media (min-width: $tablet-width) {
    right: -70px;
    width: 476px;
    top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1108px;
    right: -110px;
  }
}

.legend-line::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  left: -70px;
  top: 24px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    width: 70px;
  }
}
