.filter__contact {
  border: none;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.filter__title-wrap {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin: 0 0 35px 0;
  position: relative;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    max-width: fit-content;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 280px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    width: 768px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1440px;
    gap: 81px;
    padding: 0 110px;
  }
}

.input-wrapper__contact {
  display: flex;
  gap: 13px;
  height: 45px;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
  }
}

.contact-label {
  display: flex;
  align-items: center;
  min-width: max-content;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.filter-user {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  padding: 14px 15px 13px 15px;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.filter-user-email {
  background-image: url("../img/sprite.svg#email-icon");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 185px 12px;

  @media (min-width: $tablet-width) {
    background-position: 516px 14.5px;
  }

  @media (min-width: $desktop-width) {
    background-position: 456px 14.5px;
  }
}

.filter-user-phone {
  background-image: url("../img/sprite.svg#phone-icon");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 168px 12px;

  @media (min-width: $tablet-width) {
    background-position: 495px 14.5px;
  }

  @media (min-width: $desktop-width) {
    background-position: 436px 14.5px;
  }
}

.filter-user:hover {
  outline: 1px solid #cdcdcd;
  border: 0;
}

.filter-user:focus {
  outline: 2px solid #444444;
  border: 0;
}

.filter-user:focus:invalid {
  outline: 2px solid #ff8282;
  border: 0;
}
