.filter__list {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 15px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.filter__list:nth-child(1) {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    height: 196px;
  }
}

.filter__item {
  box-sizing: border-box;
  display: flex;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  align-items: center;
  white-space: nowrap;
  margin-top: 12px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.weight__item {
  @media (min-width: $tablet-width) {
    height: 40px;
    margin-top: 0;
    margin-bottom: 13px;
  }
}

.weight__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.filter-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.filter-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 15px 13px 13px;
  line-height: 18px;
  color: #444444;
  margin-left: 13px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    box-sizing: border-box;
    height: 52px;
  }
}

.filter-data {
  width: 100%;
}

.filter-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.filter__list-radio {
  padding-top: 12px;
  padding-bottom: 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 23px 27px 27px 27px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 24px 28px;
  }
}

.radio {
  position: relative;
  display: block;
  padding-left: 45px;
  height: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.weight-input[type="radio"]:checked + .radio__mark::before {
  position: absolute;
  top: 8.3px;
  left: 8.3px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 10.3px;
    left: 10.3px;
    width: 18px;
    height: 18px;
  }
}

.radio__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    height: 40px;
  }
}

.select-filter__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    height: 52px;
    margin-bottom: 72px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 245px;
    column-gap: 80px;
    padding: 0;
    height: 52px;
    margin-bottom: 79px;
  }
}

.button--form {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  padding: 10px 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 44px;
    height: 52px;
  }
}

.filter__subtext {
  color: #000000;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
  }
}


.filter__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.filter__inner {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    padding: 0;
    margin-bottom: 70px;
  }
}
