.footer__container-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto -400px;
    display: block;
    width: 1220px;
    height: 400px;
  }
}

.footer__container-wrap {
  display: flex;
  justify-content: space-around;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 60px 80px;
    max-width: 565px;
    top: 95px;
    z-index: 1;
    background-color: #ffffff;
  }
}

.footer__container-grey {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.footer__block-invite {
  color: #111111;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.footer__block-street {
  line-height: 20px;
  font-weight: 400;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.footer__block-street p {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }
}

.footer__map iframe {
  width: 100%;
  height: 362px;
  border: 0;
  margin-bottom: -4px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__social-icon {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer__wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.footer__social-img {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
  list-style-type: none;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 20px 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.footer__social-img:hover {
  opacity: 0.8;
}

.footer__social-img:active {
  opacity: 0.6;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style-type: none;
  min-height: 24px;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.footer__social-line::after {
  content: "";
  height: 1px;
  width: 280px;
  position: absolute;
  bottom: 0;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__social-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #444444;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 163px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

.footer__social-text {
  font-size: 16px;
  color: #444444;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.footer__social-svg {
  mask-image: url("../img/sprite.svg#footer__social-svg");
  background-color: #666666;
  width: 27px;
  height: 34px;
}

.footer__social-by:hover .footer__social-svg {
  background-color: #68b738;
}

.footer__social-text:active {
  opacity: 0.3;
}

.footer__container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}
