.main-header {
  position: relative;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 14px 20px;
  width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 25px 0 0 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 56px 0 0 0;
    border: none;
  }
}

.main-header__container {
  margin: 0 auto;
  padding: 0 20px;
}

.logo__header {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__logo2 {
  display: flex;
  justify-content: center;
}

.logo__header:hover .img__logo-header {
  opacity: 0.8;
}

.logo__header:active .img__logo-header {
  opacity: 0.6;
}


.img__logo-header {
  @media (min-width: $desktop-width) {
    width: 118px;
  }
}
