.page-title-form {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 28px;
  margin-bottom: 38px;
}

.page-text {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: start;
  margin: 0 0 28px 0;
}
